* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.admin-manip {
    background-image: url('images/bg-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.entity {
    background-image: url('images/bg-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color:#E96D71;
    padding-left: 50px;
    padding-right: 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.nav {
    padding: 25px;
}

.logo {
    cursor: pointer;
    transition: 0.25s;
}

.logo:hover {
    transform: translateY(-5px);
}

.account {
    padding: 25px;
}

.account a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: color(0.25s);
}

.account a:hover {
    color: #00f7ff;
}

.nav ul {
    display: inline-block;
    list-style-type: none;
}

.nav ul li {
    text-align: center;
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}

.nav a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: border-bottom(0.25s);
}

.nav a:hover {
    border-bottom: 3px solid #00f7ff;
}

a {
    text-decoration: none;
    color: rgb(145, 145, 145);
}

p {
    color: white;
}

.container {
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.container .row .col-2 p {
    color: #777;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.container .row .col-2 {
    max-width: 900px;
    min-width: 300px;
}

.container .row .col-2 img {
    max-width: 100%;
    margin-bottom: -5px;
    padding: 50px 20px 0px 100px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
vc
.col-2 p {
    color: black;
}

.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover {
    background: #563434;
}

.categories {
    margin: 50px 0;
}

.categories .btn {
    cursor: pointer;
}

.col-3 {
    text-align: center;
    flex-basis: 30%;
    min-width: 250px;
}

.col-3 img {
    width: 100%;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.small-container .row p{
    color: #555;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: sticky;
    line-height: 60px;
    color: #555;
}

.title:after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: #555;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.rating .fa {
    color: #ff523b;
}

.col-4:hover {
    transform: translateY(-5px);
}

/* offer */
.offer {
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img {
    padding: 50px;
}

small {
    color: #555;
}

/* testimonial */

.testimonial {
    padding-top: 100px;
}

.testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .col-3:hover {
    transform: translateY(-10px);
}

.fa.fa-quote-left {
    font-size: 34px;
    color: #ff523b;
}

.col-3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.testimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

/* Brands */

.brands {
    margin: 100px auto;
}

.col-5 {
    width: 160px;
}

.col-5 img {
    width: 100%;
    cursor: pointer;
    transition: 0.25s;
}

.col-5 img:hover {
    transform: translateY(-5px);
}

/* Footer */

footer {
    background-color:#E96D71;
    font-size: 14px;
    padding: 60px 0 20px;
}

footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-3 {
    flex-basis: 12%;
    text-align: center;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-1 a, .footer-col-3 a {
    color: white;
}

ul {
    list-style-type: none;
}

ol {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 140px;
}

footer hr {
    border: none;
    background: white;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
    color: white;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

/* All Products Page */

.row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
}

select {
    border: 1px solid #ff523b;
    padding: 5px;
}

select:focus {
    outline: none;
}

.page-button {
    margin: 0 auto 80px;
}

.page-button span {
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-button span:hover {
    background: #ff523b;
    color: #fff;
}

/* Single Product Details */

.single-product {
    margin-top: 80px;
}

.single-product .col-2 img {
    padding: 0;
}

.single-product .col-2 {
    padding: 20px;
}

.single-product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select {
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}

input:focus {
    outline: none;
}

.single-product .fa {
    color: #ff523b;
    margin: 10px;
}

.small-img-row {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

/* Account Page */

/* login page */

.account-page {
    padding: 50px 0;
    min-height: 565px;
    background-image: url('images/bg-image.jpg'); 
    background-size: cover;
}

/* register page */

.sex {
    margin: 10px 0;
    padding-left: 0px;
    width: 100%;
    color: #555;
}

.form-container {
    background: #fff;
    width: 370px;
    height: 40px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
}

.form-btn {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}

.form-container form {
    max-width: 500px;
    padding: 0 20px;
    position: absolute;
    top: 80px;
}

form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form select {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    color: #555;
    border: 1px solid #ccc;
}

form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form span {
    font-size: 14px;
    font-weight: 600;
    padding-left: 5px;
    color: #555;
}

.form .btn:focus {
    outline: none;
}

form a {
    font-size: 12px;
}

#Indicator {
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
}

/* Table data */

.entity .form-container {
    margin-top: 50px;
    height: auto;
    width: 100%; 
    border: 10px solid #777;
}

.entity .form-container input, .entity .form-container button {
    padding: 5px;
}

.entity-list {
    height: 500px;
    width: 100%;
}

.entity-list .form-container {
    margin-top: 50px;
    height: 250px;
    width: 400px;
}

.entity-list .form-container .form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    margin-top: 10px;
    height: 50px;
    width: 250px;
}

.entity-list .form-container .form-container a {
    color: #fff;
}

.entity-list a, .entity-list p {
    color: #777;
}

.table {
    height: 500px;
    width: 100%;
}

.table .form-container {
    padding: 10px;
}

.entity a, .entity p {
    color: black;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

table th {
    text-align: center;
    background-color: #3a6070;
    color: #fff;
    padding: 4px 10px 4px 8px;
    border: 1px solid #e3e3e3;
}

table td {
    border: 1px solid #e3e3e3;
    padding: 3px;
}

.crud-op {
    margin: 10px;
    padding: 10px;
}

/* Fixed Button  */

.fixed-btn .fas {
    color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    background: #ff523b;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    transition: background 0.25s;
}

.fixed-btn .fas:hover {
    background-color: rgb(81, 168, 240);
}

/* Sticky Button  */

.small-container-product {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.sticky {
    display: flex;
    align-items: center;
    justify-content: right;
    transition: background 0.25s;
    position: sticky;
    top: 0;
}

.sticky .btn {
    font-size: 20px;
}